{% extends 'layouts/master_gudang.html' %} {% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-xl-12">
        <!-- HTML5 Inputs -->
        <div class="card-header">
            <h2 class="text-uppercase">Detail Verifikasi Pengajuan Barang</h2>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="mb-3 row">
                    <label for="ruang-input" class="col-md-2 col-form-label"
                        >Ruang</label
                    >
                    <div class="col-md-10">
                        <input
                            class="form-control"
                            type="text"
                            id="ruang-input"
                            value="{{item_detail.ruangan}}"
                            readonly
                        />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label
                        for="tanggal-pengajuan-input"
                        class="col-md-2 col-form-label"
                        >Tanggal Pengajuan</label
                    >
                    <div class="col-md-10">
                        <input
                            class="form-control"
                            type="text"
                            id="tanggal-pengajuan-input"
                            value="{{ item_detail.tanggal_pengajuan }}"
                            readonly
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 card">
            <div class="card-body table-responsive text-nowrap">
                <table class="table" style="width: 100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Barang</th>
                            <th>Permintaan</th>
                            <th>Ruangan</th>
                            <th>Status</th>
                            <th>Keterangan</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td>1</td>
                            <td>{{ item_detail.nama_barang }}</td>
                            <td>{{ item_detail.jumlah }}</td>
                            <td>{{ item_detail.ruangan }}</td>
                            <td>
                                {% if item_detail.alasan %}Ditolak{% elif item_detail.is_verif == True %}Diverifikasi{% else %}
                                <button
                                  type="button"
                                  class="btn btn-danger rounded-pill"
                                  data-bs-toggle="modal"
                                  data-bs-target="#rejectModal"
                                  data-id="{{ item_detail._id }}"
                                >
                                  ✖️
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-success rounded-pill"
                                    onclick="verifyAccept('{{ item_detail._id }}', '{{ item_detail.jumlah }}')"
                                >
                                    ✔️
                                </button>

                                {% endif %}
                              </td>
                              <td>
                                {% if item_detail.alasan %} {{ item_detail.alasan
                                }} {% else %} {% if item_detail.is_verif == True %} Diterima ({{
                                item_detail.jumlah_diterima }}) {% else %} Belum Diverifikasi {%
                                endif %} {% endif %}
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    // Function to handle button clicks
    document.addEventListener("DOMContentLoaded", function () {
        // Select the buttons
        const accButton = document.querySelector(
            '[data-bs-target="#accModal"]'
        );
        const rejectButton = document.querySelector(
            '[data-bs-target="#rejectModal"]'
        );

        // Add click event listener to each button
        accButton.addEventListener("click", function () {
            const tanggalPenerimaan = document.getElementById(
                "tanggal-penerimaan-input"
            ).value;
            accButton.setAttribute("data-date", tanggalPenerimaan);
        });

        rejectButton.addEventListener("click", function () {
            const tanggalPenerimaan = document.getElementById(
                "tanggal-penerimaan-input"
            ).value;
            rejectButton.setAttribute("data-date", tanggalPenerimaan);
        });
    });
    function verifyAccept(id, jumlahDiterima) {
        fetch("/api/staff_gudang/verifikasi", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                id_ajukan: id,
                jumlah_diterima: parseInt(jumlahDiterima),
                status: "Success",
            }),
        })
        .then((response) => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.json();
        })
        .then((data) => {
            console.log("Success:", data);
            location.reload();
        })
        .catch((error) => {
            console.log("Error:", error);
            alert("Jumlah Diterima Melebihi Permintaan");
        });
    }
    
</script>

{% endblock %}
